/* 
Plugin Name: Simple Music Widget
Plugin URI: https://github.com/dolatabadi/WordPress-Plugins/tree/master/simple-music-widget
Description: This plugin creates a widget that can be used to display a music player which includes artist's name, song, album and a cover image.
Version: 1.0
Author: Dolatabadi
Author URI: https://github.com/dolatabadi
License: GNU General Public License v2
*/
audio{
    width: 100%;
}
.simple-music-widget {
    background: none repeat scroll 0 0 #050505;
    padding: 10px;
    position: relative;
}
.simple-music-widget p{
    color:#fff;
}
.simple-music-widget .artwork {
    background: none repeat scroll 0 0 #181818;
    padding: 3px;
    width: 56px;
    display: block;
    float:left;
    top: 10px;
    line-height:0;
}
.simple-music-widget .artwork img {
    width: 56px;
}
.simple-music-widget .songsmall {
    margin-left: 72px;
}
.simple-music-widget .songspecific {
    background: none repeat scroll 0 0 #181818;
    display: block;
    line-height: 20px;
    min-height: 60px;
    overflow: hidden;
    padding: 3px 0 0 5px;
    margin-bottom: 10px;
}
.simple-music-widget .songspecific strong {
    color: #ff1818;
    font-weight: normal;
}
.meta {
    background: none repeat scroll 0 0 #EFEFF0;
    color: #060606;
    display: block;
    padding: 10px 10px 10px;
}